{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload New Card</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <div class="col-6 mx-auto">
                <form action="/created/" method="POST">
		{% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card Title</label>
                        <input type="text" name="card_name" class="form-control" id="cardtitle" aria-describedby="emailHelp" placeholder="Video title here">
                        <small id="emailHelp" class="form-text text-muted">Remember to keep character count in limit.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Card Text</label>
                        <input type="text" name="card_details" class="form-control" id="carddetails" placeholder="Description about video">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Choose 1920 X 1080 image from your computer</label>
                        <input type="file" name="image" class="form-control-file" id="imageupload">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Youtube Video Link</label>
                        <input type="text" name="link" class="form-control" id="youtubevideolink" placeholder="https://youtube.com/">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="checkbox">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
