{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>No Data</title>
        <link rel="shortcut icon" href="{% static 'images/error.svg' %}" />
    </head>
	
    <body>
	 <div class="w3-bar w3-grey">
		<a href="#" class="w3-bar-item w3-button w3-mobile w3-blue">Home</a>
		<a href="#" class="w3-bar-item w3-button w3-mobile">Link 1</a>
		<a href="#" class="w3-bar-item w3-button w3-mobile">Link 2</a>
    	<div class="w3-dropdown-hover w3-mobile">
      		<button class="w3-button">Dropdown <i class="fa fa-caret-down"></i></button>
			  <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
				<a href="#" class="w3-bar-item w3-button w3-mobile">Link 1</a>
				<a href="#" class="w3-bar-item w3-button w3-mobile">Link 2</a>
				<a href="#" class="w3-bar-item w3-button w3-mobile">Link 3</a>
			  </div>
    	</div>
  </div>
        <br/><br/>
        <div >
            <img src ="{% static 'images/empty.svg' %}" class="center" style="height: 200px; width: 50%;" >
        </div>
        <br/><br/><br/><br/>
        <div class="jumbotron text-center">
            <h1 class="display-3">Oops!</h1>
            <p class="lead"><strong>We found nothing here for you, </strong> admin has not yet made any playlist here. They'll be adding that soon. Stay tuned!</p>
            <hr>
            <p class="lead">
              <a class="btn btn-primary btn-sm" href="#" onclick="history.go(-1); return false;" role="button">Continue to homepage</a>
            </p>
          </div>
        
        <style>
                .center 
                {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
                }

                h1, p
                {
                    text-align: center;
                }
        </style>
